.bridge-box *, .bridge-box *::before, .bridge-box *::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.bridge-box *::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

.bridge-box *,
.bridge-box *::before,
.bridge-box *::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

.bridge-box *::before,
.bridge-box *::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

.bridge-box html,
.bridge-box :host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

.bridge-box body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

.bridge-box a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

.bridge-box b,
.bridge-box strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

.bridge-box table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

.bridge-box button,
.bridge-box input,
.bridge-box optgroup,
.bridge-box select,
.bridge-box textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.bridge-box button,
.bridge-box select {
  text-transform: none;
}

.bridge-box button,
.bridge-box input:where([type='button']),
.bridge-box input:where([type='reset']),
.bridge-box input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

.bridge-box :-moz-focusring {
  outline: auto;
}

.bridge-box :-moz-ui-invalid {
  box-shadow: none;
}

.bridge-box progress {
  vertical-align: baseline;
}

.bridge-box ::-webkit-inner-spin-button,
.bridge-box ::-webkit-outer-spin-button {
  height: auto;
}

.bridge-box [type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.bridge-box ::-webkit-search-decoration {
  -webkit-appearance: none;
}

.bridge-box ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.bridge-box summary {
  display: list-item;
}

.bridge-box blockquote,
.bridge-box dl,
.bridge-box dd,
.bridge-box h1,
.bridge-box h2,
.bridge-box h3,
.bridge-box h4,
.bridge-box h5,
.bridge-box h6,
.bridge-box hr,
.bridge-box figure,
.bridge-box p,
.bridge-box pre {
  margin: 0;
}

.bridge-box fieldset {
  margin: 0;
  padding: 0;
}

.bridge-box legend {
  padding: 0;
}

.bridge-box ol,
.bridge-box ul,
.bridge-box menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

.bridge-box dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

.bridge-box textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

.bridge-box input::placeholder,
.bridge-box textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

/*
Set the default cursor for buttons.
*/

.bridge-box button,
.bridge-box [role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

.bridge-box :disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

.bridge-box img,
.bridge-box svg,
.bridge-box video,
.bridge-box canvas,
.bridge-box audio,
.bridge-box iframe,
.bridge-box embed,
.bridge-box object {
  display: block;
  vertical-align: middle;
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

.bridge-box img,
.bridge-box video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

.bridge-box [hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.bridge-box .fixed {
  position: fixed;
}

.bridge-box .absolute {
  position: absolute;
}

.bridge-box .relative {
  position: relative;
}

.bridge-box .inset-0 {
  inset: 0px;
}

.bridge-box .left-0 {
  left: 0px;
}

.bridge-box .right-0 {
  right: 0px;
}

.bridge-box .top-0 {
  top: 0px;
}

.bridge-box .z-0 {
  z-index: 0;
}

.bridge-box .z-50 {
  z-index: 50;
}

.bridge-box .mb-2 {
  margin-bottom: 0.5rem;
}

.bridge-box .mb-4 {
  margin-bottom: 1rem;
}

.bridge-box .mb-6 {
  margin-bottom: 1.5rem;
}

.bridge-box .ml-2 {
  margin-left: 0.5rem;
}

.bridge-box .mr-2 {
  margin-right: 0.5rem;
}

.bridge-box .mr-4 {
  margin-right: 1rem;
}

.bridge-box .mt-12 {
  margin-top: 3rem;
}

.bridge-box .mt-2 {
  margin-top: 0.5rem;
}

.bridge-box .mt-4 {
  margin-top: 1rem;
}

.bridge-box .block {
  display: block;
}

.bridge-box .inline-block {
  display: inline-block;
}

.bridge-box .inline {
  display: inline;
}

.bridge-box .flex {
  display: flex;
}

.bridge-box .grid {
  display: grid;
}

.bridge-box .hidden {
  display: none;
}

.bridge-box .h-28 {
  height: 7rem;
}

.bridge-box .h-8 {
  height: 2rem;
}

.bridge-box .h-9 {
  height: 2.25rem;
}

.bridge-box .h-\[calc\(100\%-1rem\)\] {
  height: calc(100% - 1rem);
}

.bridge-box .max-h-full {
  max-height: 100%;
}

.bridge-box .min-h-screen {
  min-height: 100vh;
}

.bridge-box .w-28 {
  width: 7rem;
}

.bridge-box .w-8 {
  width: 2rem;
}

.bridge-box .w-9 {
  width: 2.25rem;
}

.bridge-box .w-96 {
  width: 24rem;
}

.bridge-box .w-full {
  width: 100%;
}

.bridge-box .min-w-\[240px\] {
  min-width: 240px;
}

.bridge-box .max-w-64 {
  max-width: 16rem;
}

.bridge-box .max-w-md {
  max-width: 28rem;
}

.bridge-box .flex-grow {
  flex-grow: 1;
}

.bridge-box .rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.bridge-box .animate-spin {
  animation: spin 1s linear infinite;
}

.bridge-box .cursor-pointer {
  cursor: pointer;
}

.bridge-box .flex-col {
  flex-direction: column;
}

.bridge-box .flex-wrap {
  flex-wrap: wrap;
}

.bridge-box .place-items-center {
  place-items: center;
}

.bridge-box .items-center {
  align-items: center;
}

.bridge-box .justify-center {
  justify-content: center;
}

.bridge-box .justify-between {
  justify-content: space-between;
}

.bridge-box .gap-1 {
  gap: 0.25rem;
}

.bridge-box .space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.bridge-box .overflow-y-auto {
  overflow-y: auto;
}

.bridge-box .overflow-x-hidden {
  overflow-x: hidden;
}

.\!rounded-full {
  border-radius: 9999px !important;
}

.bridge-box .rounded-lg {
  border-radius: 0.5rem;
}

.bridge-box .rounded-md {
  border-radius: 0.375rem;
}

.bridge-box .rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.bridge-box .border {
  border-width: 1px;
}

.bridge-box .border-none {
  border-style: none;
}

.bridge-box .border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.bridge-box .border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.bridge-box .border-slate-200 {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.bridge-box .bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bridge-box .bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bridge-box .bg-sky-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(3 105 161 / var(--tw-bg-opacity));
}

.bridge-box .bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bridge-box .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bridge-box .fill-gray-600 {
  fill: #4b5563;
}

.bridge-box .fill-green-600 {
  fill: #16a34a;
}

.bridge-box .object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.bridge-box .object-center {
  -o-object-position: center;
     object-position: center;
}

.bridge-box .p-1\.5 {
  padding: 0.375rem;
}

.bridge-box .p-2 {
  padding: 0.5rem;
}

.bridge-box .p-3 {
  padding: 0.75rem;
}

.bridge-box .p-4 {
  padding: 1rem;
}

.bridge-box .p-6 {
  padding: 1.5rem;
}

.bridge-box .px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.bridge-box .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.bridge-box .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bridge-box .pb-2 {
  padding-bottom: 0.5rem;
}

.bridge-box .text-center {
  text-align: center;
}

.bridge-box .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bridge-box .text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.bridge-box .font-medium {
  font-weight: 500;
}

.bridge-box .font-normal {
  font-weight: 400;
}

.bridge-box .font-semibold {
  font-weight: 600;
}

.bridge-box .text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.bridge-box .text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.bridge-box .text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.bridge-box .text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.bridge-box .text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.bridge-box .text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

.bridge-box .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bridge-box .opacity-35 {
  opacity: 0.35;
}

.bridge-box .shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bridge-box .shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bridge-box .shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bridge-box .transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.bridge-box .hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bridge-box .hover\:bg-slate-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bridge-box .focus\:bg-slate-100:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bridge-box .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bridge-box .focus\:ring-4:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.bridge-box .focus\:ring-gray-100:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(243 244 246 / var(--tw-ring-opacity));
}

.bridge-box .active\:bg-slate-100:active {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bridge-box .disabled\:opacity-50:disabled {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .bridge-box .md\:inset-0 {
    inset: 0px;
  }

  .bridge-box .md\:p-5 {
    padding: 1.25rem;
  }
}

@media (prefers-color-scheme: dark) {
  .bridge-box .dark\:bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  }
}
